<p id="notice"><%= notice %></p>

<h1>Chambers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chambers.each do |chamber| %>
      <tr>
        <td><%= chamber.id %></td>
        <td><%= chamber.uuid %></td>
        <td><%= chamber.name %></td>
        <td><%= chamber.host %></td>
        <td><%= chamber.level %></td>
        <td><%= chamber.active %></td>
        <td><%= chamber.created_at %></td>
        <td><%= chamber.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chamber', new_chamber_path %>
